<div class="container">
    <h1 class= "pt-3">Create a new List</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :picture, as: :file %>
    <%= f.submit "Create List", class: "btn btn-primary" %>
  <% end %>

  <div class="d-flex justify-content-end">
    <%= link_to "back to home", lists_path, class: 'form-link' %>
  </div>
</div>
