<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar-lewagon">
    <%= image_tag "logo.png", alt: "Watch List", width: 50 %>
    <%= link_to 'My lists', lists_path %>
    <%= link_to '+ New list', new_list_path %>
  </div>
    <%= yield %>
  </body>
</html>
